<% @post.comments.each do |comment| %>
	<div class="comment_block">
		<div class="comment_info d-flex justify-content-between">
			<h5><%= comment.name %></h5>
			<h6 class="text-muted"><em><%= comment.email %></em></h6>
		</div>
		<p><%= comment.content %></p>
		<p class="text-muted"><em><%= verbose_data(comment.created_at) %> </em></p>
	</div>
<% end %>