<!-- 後台導覽列開始 -->
<%= render "admin/shared/header_navbar" %>
<!-- 後台導覽列結束 -->

<!-- 麵包屑區域開始 -->
<section class="list_area">
	<div class="container">
		<div class="list_area_block">
			<ul>
				<li><a href="#"><i class="fas fa-tachometer-alt"></i>Dashoard</a></li>
			</ul>
		</div>
	</div>
</section>
<!-- 麵包屑區域結束 -->

<!-- 4 個面板區域開始 -->
<section class="widget_area">
	<div class="container">
		<div class="row">
			<div class="col-6 col-md-6 col-xl-3">
				<div class="text-center d-flex flex-column justify-content-center widget widget_item1">
					<h2><i class="fas fa-sort-amount-up"></i>5</h2>
					<p>Products</p>
				</div>
			</div>
			<div class="col-6 col-md-6 col-xl-3">
				<div class="text-center d-flex flex-column justify-content-center widget widget_item2">
					<h2><i class="fas fa-shopping-cart"></i>5</h2>
					<p>Orders</p>
				</div>
			</div>
			<div class="col-6 col-md-6 col-xl-3">
				<div class="text-center d-flex flex-column justify-content-center widget widget_item3">
					<h2><i class="fas fa-paste"></i>5</h2>
					<p>Posts</p>
				</div>
			</div>
			<div class="col-6 col-md-6 col-xl-3">
				<div class="text-center d-flex flex-column justify-content-center widget widget_item4">
					<h2><i class="fas fa-users"></i>5</h2>
					<p>Users</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 4 個面板區域結束 -->
