<!-- 導覽區域開始 -->
<header class="header_area">
	<div class="header_top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-3 col-md-3 col-lg-3">
					<div class="header_top_left text-left d-none d-sm-block">
						<p>Welcome to <b>Asbab ~ You will love it.</b></p>
					</div>
				</div>
				<div class="col-12 col-sm-9 col-md-9 col-lg-9">
					<div class="header_top_right text-right">
						<div class="header_user_info">
							<!--登入之前 -->
							<a href="#"><i class="fa fa-user-plus"></i>註冊加入</a>
							<a href="#"><i class="fa fa-hand-pointer"></i>會員登入</a>
							<!--登入之後 -->
							<!-- <a href="#"><i class="fa fa-shopping-basket"></i>購物車</a> -->
							<!-- <a href="#"><i class="fa fa-user"></i>我的帳戶</a> -->
							<!-- <a href="#"><i class="fa fa-heart"></i>願望清單</a> -->
							<!-- <a href="#"><i class="fa fa-share-square"></i>會員登出</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header_main"></div>
</header>
<!-- 導覽區域結束 -->
