<!-- 導覽區域開始 -->
<header class="header_area">
	<div class="header_top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-3">
					<div class="header_top_left text-left">
						<p>Welcome to <b>Asbab ~ You will love it.</b></p>
					</div>
				</div>
				<div class="col-9">
					<div class="header_top_right text-right">
						<div class="header_user_info">
							<a href="#"><i class="fa fa-user"></i>我的帳戶</a>
							<a href="#"><i class="fa fa-heart"></i>願望清單</a>
							<a href="#"><i class="fa fa-unlock-alt"></i>會員登入</a>
							<a href="#"><i class="fa fa-share-square"></i>會員登出</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header_main"></div>
</header>
<!-- 導覽區域結束 -->