<!-- 頁腳區域開始 -->
<footer id="footer" class="footer">
	<div class="footer_top">
		<div class="footer_middle">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6 col-lg-4 mb_sm_30">
						<div class="footer_block">
							<h6>What We Are?</h6>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
						</div>
					</div>
					<div class="col-6 col-md-6 col-lg-2 mb-sm-40 d-none d-sm-block">
						<div class="footer_block">
							<h6>Information</h6>
							<ul class="list-none">
								<li><a href="#">Men</a></li>
								<li><a href="#">Women</a></li>
								<li><a href="#">Kids</a></li>
								<li><a href="#">Accessories</a></li>
								<li><a href="#">Brand</a></li>
								<li><a href="#">Blog</a></li>
							</ul>
						</div>
					</div>
					<div class="col-6 col-md-6 col-lg-2 mb_sm_30">
						<div class="footer_block">
							<h6>Usefull Links</h6>
							<ul class="list-none">
	              <li><a href="about.html">About Us</a></li>
	              <li><a href="#">Customer Service</a></li>
	              <li><a href="#">Privacy Policy</a></li>
	              <li><a href="#">Orders and Returns</a></li>
	              <li><a href="#">Help &amp; FAQs</a></li>
	              <li><a href="contact.html">Conatct Us</a></li>
	            </ul>
						</div>
					</div>
					<div class="col-6 col-md-6 col-lg-4 mb_sm_30">
						<div class="footer_block contactus_block">
							<h6>Conatct Us</h6>
							<p><i class="fa fa-map-marker" aria-hidden="true"></i>
                 Gelderseplein 750, 601 WZ Rotterdam,<br>
                 Netherlands              
              </p>
              <p>
              	<i class="fa fa-envelope" aria-hidden="true"></i>
              	<a href="mailto:vitata710@gmail.com">vitata710@gmail.com</a>
              </p>
              <p><i class="fa fa-phone" aria-hidden="true"></i>+0123-456-789</p>
              <p><i class="fa fa-fax" aria-hidden="true"></i>+0123-456-789</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 col-xl-6">
					<p class="copyright">
						© Copyrights <a href="#" class="color" target="_blank">Bapor</a>. All Rights Reserved.
					</p>
				</div>
				<div class="col-12 col-md-6 col-xl-6">
					<div class="social_link">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-github-alt"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- 頁腳區域結束 -->