// 導覽列設定開始
header.header_area_admin {
	.navbar-light {
		.navbar-nav {
			.nav-link {
				color: $dim_gray;
			}
		}
	}
}

header.header_area_admin {
	margin-bottom: 20px;
}
// 導覽列設定結束

// 麵包屑區域開始
section.list_area {
	margin-bottom: 20px;
	.list_area_block {
		background-color: $dim_silver;
		> ul {
			margin-bottom: 0;
			padding-left: 0;
			list-style: none;
			> li {
				display: inline-block;
				padding: 10px 15px;
				transition: all 1s ease 0s;
				> a {
					color: $dim_gray;
					> i {
						margin-right: 5px;
					}
				}
			}
			li:hover {
				background-color: $basic_pink;
				> a {
					color: $basic_white;
				}
			}
		}
	}
}
// 麵包屑區域結束

// 4 個面板區域開始
section.widget_area {
	.widget {
		width: 100%;
		height: 150px;
		color: $basic_white;
		margin-bottom: 20px;
	}
	.widget_item1 {
		background-color: $basic_green;
	}
	.widget_item2 {
		background-color: $basic_orange;
	}
	.widget_item3 {
		background-color: $light_blue;
	}
	.widget_item4 {
		background-color: $basic_pink;
	}
}

section.widget_area {
	.widget {
		> h2 {
			> i {
				margin-right: 7px;
			}
		}
		> p {
			color: $light_gray;
			font-size: 16px;
		}
	}
}
// 4 個面板區域結束

// 新增產品區域 form 開始
section.product_form {
	.product_form_area {
		background-image: url(bg_2);
		padding: 15px 15px;
		.product_title {
			margin-bottom: 20px;
			> h2 {
				margin-bottom: 0;
			}
		}
	}
}
// 新增產品區域 form 結束

// 總表區域開始
section.product_table_area {
	.product_title {
		margin-bottom: 20px;
		> h2 {
			margin-bottom: 0;
		}
	}
}

section.product_table_area {
	.table_data {
		> .table {
			> thead {
				th {
					border: none;
				}
			}
			th, td {
				border: none;
			}
			tbody + tbody {
				border: none;
			}
		}
		.spacer {
			height: 5px;
    	background: transparent;
		}
	}
}

section.product_table_area {
	table {
		> tbody {
			> .item {
				background-color: $light_yellow;
				-webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    		-moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    		box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    		> td {
    			padding: 25px 12px;
    			> .product_category {
    				padding: 5px 10px;
    				background-color: $basic_pink;
    				color: $basic_white;
    			}
    		}
			}
		}
	}
}

section.product_table_area {
	table {
		> tbody {
			td {
				> .publish, .edit, .delete {
			    padding: 5px 10px;
			    margin-right: 5px;
			    background-color: $dim_silver;
			    > a {
			    	color: $dim_gray;
			    }
				}
			}
		}
	}
}
// 總表區域結束