<!-- 麵包屑區域開始 -->
<section class="list_area">
	<div class="container">
		<div class="list_area_block">
			<ul>
				<li>
					<%= link_to admin_posts_path do %>
						<i class="fas fa-sort-amount-up"></i>Posts
					<% end %>
				</li>
				<li>
					<%= link_to new_admin_post_path do %>
						<i class="fas fa-plus"></i>ADD Post
					<% end %>
				</li>
				<li><a href="#"><i class="fas fa-arrow-circle-down"></i>Export</a></li>
			</ul>
		</div>
	</div>
</section>
<!-- 麵包屑區域結束 -->