<!-- 後台導覽列開始 -->
<%= render "admin/shared/header_navbar" %>
<!-- 後台導覽列結束 -->

<!-- 麵包屑區域開始 -->
<section class="list_area">
	<div class="container">
		<div class="list_area_block">
			<ul>
				<li><a href="#"><i class="fas fa-sort-amount-up"></i>Products</a></li>
				<li><a href="#"><i class="fas fa-plus"></i>ADD Product</a></li>
				<li><a href="#"><i class="fas fa-arrow-circle-down"></i>Export</a></li>
			</ul>
		</div>
	</div>
</section>
<!-- 麵包屑區域結束 -->