// 整個版面設定
body {
	font-size: 14px;
	color: $dim_gray;
	font-family: 'Open Sans', sans-serif;
}

// 按鈕顏色變化設定
a {
	transition: all 1s ease 0s;
}

// 取消超連結底線
a:hover {
	text-decoration: none;
}

// p 字體厚度
p {
	font-weight: 400;
}

// h標籤全部大寫
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
}

// 各字體大小
h1 {
	font-size: 50px;
	font-weight: 600;
  margin-top: 0px;
  margin-bottom: 15px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 15px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 15px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 15px;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 15px;
}

h6 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 15px;
}

// 上下內距 40px
.section_padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

// 下內距 80px
.section_padding_bottom {
  padding-bottom: 80px;
}

// 下內距 60px
.spb_60 {
  padding-bottom: 60px;
}

// 產品及圖片放大 Css 屬性
section.random_product, .featured_collecations, section.category_products {
  .product_item:hover {
    > .product_image_wraper {
      > .big_img {
        -webkit-transform: scale(1.09);
        -moz-transform: scale(1.09);
        -o-transform: scale(1.09);
        -ms-transform: scale(1.09);
        transform: scale(1.09);
      }
    }
    > .product_content {
      > p {
        color: $basic_pink;
      }
    }
  }
}

section.random_product, .featured_collecations, section.category_products {
  .product_item {
    > .product_image_wraper {
      position: relative;
      overflow: hidden;
      > .big_img {
        -webkit-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        -moz-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
        transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
      }
    }
  }
}

section.random_product, .featured_collecations, section.category_products {
  .product_item {
    margin-bottom: 20px;
    > .product_image_wraper {
      margin-bottom: 10px;
    }
    > .product_content {
      color: $dim_gray;
      > p {
        margin-bottom: 10px;
        transition: all 1s ease 0s;
      }
      > del {
        margin-right: 10px;
        color: $basic_gray;
        font-style: italic;
        font-size: 14px;
      }
      > span {
        font-size: 20px;
        color: $basic_pink;
        font-weight: 600;
      }
    }
  }
}

// 麵包屑區域開始
section.breadcrumb {
  margin-bottom: 20px;
  padding: 30px 0;
  border-top: 1px solid $dim_silver;
  .breadcrumb_link {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    > li {
      display: inline-block;
      color: $basic_gray;
      > .link_item {
        color: $dim_gray;
        font-weight: 900;
      }
      > .link_item:hover {
        color: $basic_pink;
      }
    }
  }
}

section.breadcrumb {
  .breadcrumb_link {
    > li {
      > .link_item:after {
        content: "=>";
        padding-right: 7px;
        padding-left: 7px;
        color: $dim_gray;
      }
    }
  }
}

// 文章區域相關 Css 屬性
section.post_show_area, section.post_index_area {
  .post_left {
    > h2 {
      margin-bottom: 20px;
    }
    > .post_image {
      margin-bottom: 20px;
    }
    > h4 {
      margin-bottom: 20px;
      text-transform: capitalize;
    }
    > .postmeta {
      margin-bottom: 20px;
      > .post_author, .post_date, .post_comment {
        color: $basic_gray;
        margin-right: 10px;
        > i {
          margin-right: 5px;
        }
        > b {
          color: $dim_gray;
          text-transform: capitalize;
        }
      }
    }
    > .post_description {
      margin-bottom: 20px;
      color: $basic_gray;
    }
  }
}

section.post_show_area, section.post_index_area {
  .post_right {
    > h4 {
      margin: 20px 0;
    }
    .right_content {
    > p {
      > a {
        color: $dim_gray;
      }
      > a:hover {
        color: $basic_pink;
        }
      }
      > em {
        color: $basic_gray;
      }
    }
    hr {
      margin: 20px 0;
    }
  }
}