// 整個版面設定
body {
	font-size: 14px;
	color: $dim_gray;
	font-family: 'Open Sans', sans-serif;
}

// 按鈕顏色變化設定
a {
	transition: all 0.5s ease 0s;
}

// 取消超連結底線
a:hover {
	text-decoration: none;
}

// p 字體厚度
p {
	font-weight: 400;
}

.section_padding_bottom {
  padding-bottom: 80px;
}

.overlay_dark50:before {
  background-color: rgba(0, 0, 0, 0.50);
}