$light_gray: #666666;
$basic_gray: #777;
$dim_gray: #343a40;

$basic_green: #5cb45d;
$dim_green: #009A86;

$dim_silver: #eee;

$basic_white: #ffffff;

$basic_orange: #F8A13A;

$dim_red: #e1534f;

$basic_pink: #e83e8c;

$light_blue: #00BFFF;