$dim_gray: #666666;
$dim_silver: #eee;
$basic_white: #ffffff;
$basic_orange: #F8A13A;
$basic_green: #5cb45d;
$dim_green: #009A86;
$dim_red: #e1534f;
$basic_pink: #e83e8c;
$dim_gray: #343a40;
$light_blue: #00BFFF;