// 導覽區域開始
header {
	> .header_top {
		padding: 10px 0;
		border-bottom: 1px solid $dim_silver;
	}
}

header {
	.header_top {
		.header_top_left {
			> p {
				margin-bottom: 0;
				> b {
					color: $basic_pink;
				}
			}
		}
	}
}

header {
	.header_top {
		.header_top_right {
			> a {
				border-left: 1px solid $light_blue;
				padding-left: 10px;
				padding-right: 10px;
				color: $dim_gray;
				> i {
					margin-right: 2px;
				}
			}
			> a:hover {
				color: $basic_pink;
			}
		}
	}
}

header {
	.header_main {
		ul.navbar-nav {
			> li {
				> .nav_link_page {
					padding-left: 20px;
					padding-right: 20px;
					font-size: 15px;
					text-transform: uppercase;
				}
				> .nav_link_page:hover {
					color: $basic_pink;
				}
			}
		}
	}
}
// 導覽區域結束

// 輪播區域開始
div {
	.carousel_caption {
		position: absolute;
		top: 25%;
		right: 15%;
	  left: 15%;
	  z-index: 10;
	  padding-top: 20px;
	  padding-bottom: 20px;
	  color: $basic_white;
	  > h3 {
	  	margin-top: 30px;
	  }
	  > .title_btn1 {
	  	text-transform: uppercase;
	  	font-size: 12px;
	  	padding: 15px 35px;
	  	background-color: $basic_white;
	  	display: inline-block;
	  	color: $dim_gray;
	  	margin-top: 30px;
	  }
	  > .title_btn1:hover {
	  	background-color: $basic_pink;
	  	color: $basic_white;
	  }
	  .title_btn2 {
	  	text-transform: uppercase;
	  	font-size: 12px;
	  	padding: 15px 35px;
	  	background-color: $basic_pink;
	  	display: inline-block;
	  	color: $basic_white;
	  	margin-top: 30px;
	  }
	  > .title_btn2:hover {
	  	background-color: $basic_white;
	  	color: $dim_gray;
	  }
	}
}

div {
	.carousel-item {
		> img {
			height: 550px;
		}
	}
}
// 輪播區域結束

// 商品旗幟開始開始
section.categorybanner {
	.categorybanner_item {
		> .categorybanner_title {
			transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    position: absolute;
	    top: 50%;
	    right: 5%;
	    z-index: 2;
		}
	}
}

section.categorybanner {
	.categorybanner_item {
		position: relative;
    overflow: hidden;
		padding: 0;
		> .categorybanner_title {
			> h5 {
				color: $basic_white;
				line-height: 1.1;
			}
			> h3 {
				color: $basic_white;
			}
		}
		> .dark_title {
			left: 5%;
			> h5 {
				color: $dim_gray;
				line-height: 1.1;
			}
			> h3 {
				color: $dim_gray;
			}
		}
	}
}

section.categorybanner {
	.categorybanner_item {
		> .categorybanner_image:before {
			background-color: rgba(0, 0, 0, 0.5);
	    content: "";
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    transform: scale(0);
	    transition: all 0.5s ease 0s;
	    -o-transition: all 0.5s ease 0s;
	    -moz-transition: all 0.5s ease 0s;
	    -webkit-transition: all 0.5s ease 0s;
	    width: 100%;
	    z-index: 1;
		}
	}
	.categorybanner_item:hover {
		> .categorybanner_image:before {
			transform: scale(1);
		}
	}
}
// 商品旗幟結束

// 促銷區域開始
section.promo {
	.promo_box {
		padding: 0px;
    position: relative;
    > .promo_item {
    	text-align: center;
    }
	}
}

section.promo {
	.promo_item_inner {
		.promo_icon {
			display: inline-table;
	    vertical-align: middle;
	    transition: all 0.3s ease 0s;
	    -moz-transition: all 0.3s ease 0s;
	    -webkit-transition: all 0.3s ease 0s;
	    -o-transition: all 0.3s ease 0s;
	    position: relative;
	    z-index: 1;
	    > i {
	    	font-size: 45px;
    		line-height: 45px;
	    }
		}
	}
}

section.promo {
	.promo_item_inner {
		.promo_info {
			padding-left: 15px;
	    text-align: left;
	    display: inline-table;
	    vertical-align: middle;
	    padding-top: 5px;
		}
	}
}

section.promo {
	.promo_info {
		> h6 {
			margin-bottom: 0;
			line-height: 1.1;
		}
		> p {
			padding: 3px 0;
			margin-bottom: 0;
			font-style: italic;
			color: $basic_gray;
		}
	}
}
// 促銷區域結束

// 促銷旗幟區域開始
section.promo_banner {
	.section_heading {
		position: relative;
		margin-bottom: 30px;
		> h2 {
			margin-bottom: 30px;
			line-height: 1.1;
		}
		> p {
			max-width: 650px;
	    display: inline-block;
	    font-style: italic;
	    margin-top: 0;
	    margin-bottom: 0;
	    color: $basic_gray;
		}
	}
}

section.promo_banner {
	.promo_banner_wraper {
		position: relative;
    overflow: hidden;
	}
}

section.promo_banner {
	.mb_30 {
		margin-bottom: 30px;
	}
}


section.promo_banner {
	.promo_banner_wraper {
		> a {
			> img {
				-webkit-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
		    -moz-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
		    transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
			}
		}
	}
	.promo_banner_wraper:hover {
		> a {
			> img {
				-webkit-transform: scale(1.09);
		    -moz-transform: scale(1.09);
		    -o-transform: scale(1.09);
		    -ms-transform: scale(1.09);
		    transform: scale(1.09);
			}
		}
	}
}
// 促銷旗幟區域結束

// 節日、季節促銷區域開始
section.festival_seasons {
	.festival_seasons_inner {
		background-color: $light_black;
  	padding: 20px 40px;
  	> h3 {
  		margin-bottom: 0;
  		color: $basic_white;
  		> a {
  			color: $basic_pink;
  		}
  	}
	}
}
// 節日、季節促銷區域結束

// 特色商品區域開始
section.featured_collecations {
	.section_heading {
		position: relative;
  	margin-bottom: 30px;
  	> h2 {
  		margin-top: 0;
  		margin-bottom: 30px;
  		line-height: 1.1;
  	}
  	> p {
  		max-width: 650px;
  		display: inline-block;
  		font-style: italic;
  		margin-top: 0;
  		margin-bottom: 0;
  		color: $basic_gray;
  	}
	}
}

section.featured_collecations {
	.product_category {
		text-transform: uppercase;
		margin: 0 auto 30px 0;
		padding: 0;
		> li {
			> .nav-link {
				color: $dim_gray;
			}
		}
	}
}

section.featured_collecations {
	a.action {
		color: $basic_pink !important;
	}
}
// 特色商品區域結束

// 關於網站開始
section.homeabout {
	background-image: url("bg_1");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

section.homeabout {
	.homeabout_wrapper {
		background-color: $basic_white;
		padding: 40px;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  	> .homeabout_image {
  		margin-bottom: 30px;
  	}
	}
}

section.homeabout {
	.homeabout_wrapper {
		> h6 {
			margin-top: 0px;
	  	margin-bottom: 15px;
		}
		> p {
			margin-bottom: 30px;
	    margin-top:5px; 
	    font-style: italic;
	    font-weight: 100;
	    line-height: 28px;
	    font-size: 18px;
	    color: $basic_gray;
	    > span {
	    	color: $basic_pink;
	    }
		}
	}
}

section.homeabout {
	.homeabout_wrapper {
		> .title_btn2 {
			text-transform: uppercase;
	  	font-size: 12px;
	  	padding: 15px 35px;
	  	background-color: $basic_pink;
	  	display: inline-block;
	  	color: $basic_white;
		}
	}
}
// 關於網站結束

// 網站文章區域開始
section.homepost {
	.section_heading {
		position: relative;
		margin-bottom: 30px;
		> h2 {
			margin-bottom: 30px;
		}
		> p {
			max-width: 650px;
	    display: inline-block;
	    font-style: italic;
	    margin-bottom: 0;
	    color: $basic_gray;
		}
	}
}

section.homepost {
	.post_block {
		margin-bottom: 20px;
	}
}

section.homepost {
	.post_block {
		> .post_image {
			position: relative;
  		overflow: hidden;
		}
		> .post_image:before {
			background-color: rgba(0, 0, 0, 0.5);
	    content: "";
	    height: 100%;
	    left: 0;
	    position: absolute;
	    top: 0;
	    transform: scale(0);
	    transition: all 0.5s ease 0s;
	    -o-transition: all 0.5s ease 0s;
	    -moz-transition: all 0.5s ease 0s;
	    -webkit-transition: all 0.5s ease 0s;
	    width: 100%;
	    z-index: 1;
		}
	}
	.post_block:hover {
		> .post_image:before {
			transform: scale(1);
		}
		.post_image {
			> img {
				-webkit-transform: scale(1.09);
		    -moz-transform: scale(1.09);
		    -o-transform: scale(1.09);
		    -ms-transform: scale(1.09);
		    transform: scale(1.09);
			}
		}
		.card-body {
			> .read_more {
				> a {
					color: $basic_pink;
				}
			}
		}
	}
}

section.homepost {
	.post_block {
		> .post_image {
			> img {
				-webkit-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
    		-moz-transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
    		transition: transform 2s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
			}
		}
	}
}

section.homepost {
	.post_block {
		> .card-body {
			> h5 {
				text-transform: capitalize;
			}
			> .card-text {
				color: $basic_gray;
			}
			> .read_more {
				margin-bottom: 0;
				> a {
					color: $dim_gray;
				}
			}
		}
	}
}

section.homepost {
	.post_block {
		> .card-footer {
			> .post_author {
				color: $basic_gray;
				> i {
					margin-right: 5px;
				}
				> b {
					color: $dim_gray;
				}
			}
			> .post_comment {
				margin-left: 20px;
				> i {
					color: $basic_gray;
				}
			}
		}
	}
}
// 網站文章區域結束

// 網站logo開始
section.homelogo {
	background-color: $dim_silver;
	.section_heading {
		position: relative;
		margin-bottom: 30px;
		> h2 {
			margin-bottom: 30px;
		}
		> p {
			max-width: 650px;
	    display: inline-block;
	    font-style: italic;
	    margin-top: 0;
	    margin-bottom: 0;
	    color: $basic_pink;
		}
	}
}
// 網站logo結束

// 頁腳區域開始
footer {
	> .footer_top {
		background-color: $footer_black1;
		> .footer_middle {
			margin: 0px auto;
  		padding-top: 80px;
  		padding-bottom: 80px;
		}
	}
}

footer {
	.footer_block {
		> h6 {
			margin-bottom: 30px;
    	color: $basic_white;
		}
		> p {
			color: $footer_gray;
			margin-bottom: 10px;
		}
	}
}

footer {
	.footer_block {
		> ul {
			list-style: none;
    	margin-left: 0;
			padding-left: 0;
			margin-bottom: 10px;
			> li {
				margin-bottom: 8px;
				> a {
					color: $footer_gray;
				}
				> a:hover {
					color: $basic_pink;
				}
			}
		} 
	}
}

footer {
	.contactus_block {
		> p {
			padding-left: 20px;
  		position: relative;
  		> i {
  			position: absolute;
  			left: 0;
  			line-height: inherit;
  		}
  		> a {
  			color: $footer_gray;
  		}
  		> a:hover {
  			color: $basic_pink;
  		}
		}
	}
}

footer {
	> .footer_bottom {
		background: $footer_black2;
	  padding-bottom: 40px;
	  padding-top: 40px;
	  line-height: 40px;
	  .copyright {
	  	color: $footer_gray;
	  	margin-bottom: 0;
	  	> a {
	  		color: $basic_pink;
	  	}
	  }
	}
}

footer {
	> .footer_bottom {
		.social_link {
			text-align: right;
			> ul {
				list-style: none;
				display: inline-block;
				margin-bottom: 0;
				padding-left: 0;
				> li {
					width: 40px;
					height: 40px;
					background-color: $footer_black1;
					margin-right: 10px;
					text-align: center;
					transition: all 1s ease 0s;
					display: inline-block;
					> a {
						color: $basic_white;
					}
				}
				> li:hover {
					background-color: $light_gray;
				}
			}
		}
	}
}
// 頁腳區域結束

// 麵包屑區域開始
section.breadcrumb {
	margin-bottom: 20px;
	padding: 30px 0;
	border-top: 1px solid $dim_silver;
	.breadcrumb_link {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		> li {
			display: inline-block;
			color: $basic_gray;
			> .link_item {
				color: $dim_gray;
				font-weight: 900;
			}
			> .link_item:hover {
				color: $basic_pink;
			}
		}
	}
}

section.breadcrumb {
	.breadcrumb_link {
		> li {
			> .link_item:after {
				content: "=>";
				padding-right: 7px;
	    	padding-left: 7px;
	    	color: $dim_gray;
			}
		}
	}
}
// 麵包屑區域結束

// 產品詳細介紹區域開始
section.product_show_area {
	.mb_20 {
		margin-bottom: 20px;
	}
	.right_product_content {
		> h2 {
			text-transform: none;
			margin-bottom: 20px;
		}
		> .product_rating {
			> ul {
				display: inline-block;
				padding-left: 0;
				margin-bottom: 0;
				margin-right: 5px;
				> li {
					display: inline-block;
					color: $basic_pink;
				}
			}
			> a {
				color: $dim_gray;
				text-transform: capitalize;
			}
		}
	}
}

section.product_show_area {
	.right_product_content {
		> .product_price {
			color: $basic_gray;
			margin-top: 15px;
			margin-bottom: 20px;
			> del {
				margin-right: 5px;
				font-style: italic;
			}
			> span {
				font-size: 24px;
				color: $basic_pink;
				font-weight: 600;
			}
		}
		> .product_description {
			margin-bottom: 20px;
			> p + p {
				color: $basic_gray;
			}
		}
	}
}

section.product_show_area {
	.right_product_content {
		> .product_btn {
			margin-bottom: 20px;
			> .button {
				display: inline-block;
				padding: 10px 0;
				width: 150px;
				text-align: center;
			}
			> .btn1 {
				background-color: $basic_pink;
				color: $basic_white;
			}
			> .btn2 {
				background-color: $light_black;
				color: $basic_white;
			}
		}
	}
}

section.product_show_area {
	.right_product_content {
		> .product_meta {
			margin-bottom: 20px;
			> span {
				display: block;
				margin-bottom: 20px;
				font-weight: 600;
				.sku, .category, .tag {
					font-weight: 400;
					color: $light_gray;
				}
			}
		}
		> .product_share {
			margin-bottom: 20px;
			> span {
				font-weight: 600;
			}
			> ul {
				display: inline-block;
				padding-left: 0;
				margin-bottom: 0;
				> li {
					display: inline-block;
					margin: 0 7px;
					> a {
						color: $light_gray;
					}
					> a:hover {
						color: $basic_pink;
					}
				}
			}
		}
	}
}
// 產品詳細介紹區域結束

// 亂數產生產品區域開始
section.random_product {
	margin: 30px 0;
	.random_product_title {
		margin-bottom: 30px;
		> h2 {
			margin-bottom: 0;
		}
	}
}
// 亂數產生產品區域結束

// 同個分類下秀出全部產品開始
section.category_products {
	min-height: 100vh;
	.category_products_left {
		> .sidebar_shop {
			border-bottom: 1px solid $dim_silver;
			margin-bottom: 20px;
			> h4 {
			margin-bottom: 20px;
			}
			> ul {
				list-style: none;
				padding-left: 0;
				margin-bottom: 0;
				> li {
					margin-bottom: 20px;
					> a {
						color: $dim_gray;
					}
					> a:hover {
						color: $basic_pink
					}
				}
			}
		}
	}
}

section.category_products {
	.sidebar_tag {
		border-bottom: 1px solid $dim_silver;
		margin-bottom: 20px;
		> h4 {
			margin-bottom: 20px;
		}
		> ul {
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			> li {
				text-transform: uppercase;
				display: inline-block;
				> a {
					color: $dim_gray;
					display: inline-block;
				}
				> .tag_btn {
					padding: 10px 15px;
					background-color: $footer_gray;
					margin-right: 5px;
					margin-bottom: 10px;
				}
				> .tag_btn:hover {
					background-color: $basic_black; 
					color: $basic_white;
				}
				> .mb_20 {
					margin-bottom: 20px
				}
			}
		}
	}
}

section.category_products {
	.category_products_right {
		h2 {
			margin-bottom: 20px;
			> small {
				font-size: 14px;
				color: $basic_gray;
			}
		}
	}
}
// 同個分類下秀出全部產品結束