// 導覽區域開始
// 導覽列上半部開始
.header_top {
	padding: 10px 0;
	border-bottom: 1px solid $dim_silver;
}

.header_top_left {
	> p {
		margin-bottom: 0;
		color: $dim_gray;
		> b {
			color: $basic_pink;
		}
	}
}

.header_top_right {
	> a {
		border-left: 1px solid $light_blue;
		padding-left: 10px;
		padding-right: 10px;
		color: $dim_gray;
		> i {
			margin-right: 2px;
		}
	}
	> a:hover {
		color: $basic_pink;
	}
}
// 導覽列上半部結束
// 導覽列主選單開始
.navbar-nav {
	> .nav-item {
		> .nav-link {
			padding-left: 20px;
			padding-right: 20px;
			font-size: 15px;
			text-transform: uppercase;
		}
		> .nav-link:hover {
			color: $basic_pink;
		}
	}
}
// 導覽列主選單結束
// 導覽區域結束

// 輪播區域開始
.carousel_caption1 {
	position: absolute;
	top: 25%;
	right: 15%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $basic_white;
  text-transform: uppercase;
  > .maintitle {
  	font-size: 60px;
  	margin-bottom: 0;
  } 
  > .subtitle {
  	margin-top: 30px;
  	margin-bottom: 40px;
    font-weight: 400;
    font-size: 22px;
  }
  > .title_btn1 {
  	font-size: 12px;
  	color: $dim_gray;
  	background-color: $basic_white;
  	padding: 15px 35px;
  	display: inline-block;
  	font-weight: 600;
  }
  > .title_btn1:hover {
  	background-color: $light_blue;
  	color: $basic_white;
  }
}

.carousel_caption2 {
	position: absolute;
	top: 25%;
	right: 15%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $basic_white;
  text-transform: uppercase;
  > .maintitle {
  	font-size: 60px;
  	margin-bottom: 0;
  } 
  > .subtitle {
  	margin-top: 30px;
  	margin-bottom: 40px;
    font-weight: 400;
    font-size: 22px;
  }
  > .title_btn2 {
  	font-size: 12px;
  	color: $basic_white;
  	background-color: $dim_green;
  	padding: 15px 35px;
  	display: inline-block;
  	font-weight: 600;
  }
  > .title_btn2:hover {
  	background-color: $basic_orange;
  	color: $dim_gray;
  }
}
// 輪播區域結束