// 導覽區域開始
.header_top {
	padding: 10px 0;
	border-bottom: 1px solid $dim_silver;
}

.header_top_left {
	> p {
		margin-bottom: 0;
		color: $dim_gray;
		> b {
			color: $basic_pink;
		}
	}
}

.header_top_right {
	> .header_user_info {
		> a {
			border-left: 1px solid $light_blue;
			padding-left: 10px;
			padding-right: 10px;
			color: $dim_gray;
			> i {
				margin-right: 1px;
			}
		}
		> a:hover {
			color: $basic_pink;
		}
	}
}
// 導覽區域結束