// 手機、平板以下 平板的直向和橫向都能用
@media screen and (max-width: 767px) {
	.header_top_right {
		font-size: 12px;
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.navbar-nav {
		background-color: $dim_gray;
		> .nav-item {
			> .nav-link {
				color: $basic_white;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.section_padding {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media screen and (max-width: 767px) {
	.section_padding_bottom {
    padding-bottom: 50px;
	}
}

@media screen and (max-width: 767px) {
	.festival_seasons_inner {
		> h3 {
			font-size: 18px;
		}
	}
}

@media screen and (max-width: 991px) {
	.mb_sm_30 {
		margin-bottom: 30px;
	}
}
// 桌機、平板以上
@media screen and (min-width: 992px) {
	.header_top_right {
		text-align: right;
	}
}

@media screen and (min-width: 992px) {
	.navbar-nav {
		> .nav-item {
			> .nav-link {
				color: $dim_gray;
			}
		}
	}
}
