// 手機、平板以下 平板的直向和橫向都能用
@media screen and (max-width: 767px) {
	// 導覽列右半部
	.header_top_right {
		font-size: 12px;
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	// 導覽列背景顏色及字體顏色
	.rwd_ul_bg {
		background-color: $dim_gray;
		> .nav-item {
			> .nav_link_page {
				color: $basic_white;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	// 向下外距
	.mb_sm_30 {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 767px) {
	// 上下內距
	.section_padding {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media screen and (max-width: 767px) {
	// 向下內距
	.section_padding_bottom {
    padding-bottom: 50px;
	}
}

@media screen and (max-width: 767px) {
	// h3 預設字體改小
	.festival_seasons_inner {
		> h3 {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 767px) {
	.homepost-wraper {
		.card-footer {
			text-align: center;
		}
	}
}

// 桌機、平板以上
@media screen and (min-width: 768px) {
	// 我的帳號區域置右
	.header_top_right {
		text-align: right;
	}
}

@media screen and (min-width: 768px) {
	// 導覽列背景顏色
	.navbar-nav {
		> .nav-item {
			> .nav_link_page {
				color: $dim_gray;
			}
		}
	}
}
